CLIENT_ID=
CLIENT_SECRET=
CHANNELS=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHANNEL_LINK=

KEEP_FILES=True
UPLOAD_VID=True
SLEEP_TIMER=3600
PROCESSING_TIMEOUT=600

BANNER_ENABLED=false
BANNER_PATH=
BANNER_TYPE=image
BANNER_SCALE=0.15
BANNER_POSITION=top_right
BANNER_MARGIN_X=5
BANNER_MARGIN_Y=5

REFERRAL_LINK=
CHANNEL_ID=
MISTRAL_API_KEY=
